* {
    margin: 0;
    padding: 0px;
}

input {
    outline: none;
}

.box {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 10px auto;
    background-color: springgreen;
    /* transform: translate(200px,100px); */
}

.box2 {
    width: 200px;
    height: 200px;
    background-color: skyblue;
    position: absolute;
    top: 50%;
    left: 50%;
    /* margin-top: -100px;
    margin-left: -100px; */
    transform: translate(-50%, -50%);
    transform-origin: 50% 50%;
    transition: all 2s;
}

.box2:hover {
    transform: translate(-50%, -50%) rotate(360deg);
}

.serch {
    position: relative;
    width: 300px;
    height: 30px;
    transform: translateX(400px);
    border: 1px solid #000;
}
.serch::after{
    content: "";
    position: absolute;
    top: 5px;
    right: 10px;
    width: 15px;
    height: 15px;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    transform-origin: 60% 60%;
    transform: rotate(45deg);
    transition: all .3s;
}
.serch:hover::after{
    transform: rotate(225deg);
}

.gun{
    width: 50px;
    height: 50px;
    background-color: springgreen;
    transition: all 1s;
    transform-origin: 100% 100%;
}
.gun:hover{
    transform: rotate(90deg);
}
.come{
    float: left;
    width: 200px;
    height: 200px;
    border: 1px solid slateblue;
    margin-left: -1px;
    overflow: hidden;
    background-color: skyblue;
}
.come::after{
    content: "徐嘉乐";
    display: block;
    width: 200px;
    height: 200px;
    background-color: springgreen;
    color: white;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    line-height: 200px;
    transform-origin: right top;
    transform: rotate(-135deg);
    transition: all .7s;
}
.come2::after{
    content: "是";
}
.come3::after{
    content: "你爹";
}
.come:hover::after{
    transform: rotate(0deg);
}