@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?tomleg');
    src: url('../fonts/icomoon.eot?tomleg#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?tomleg') format('truetype'),
        url('../fonts/icomoon.woff?tomleg') format('woff'),
        url('../fonts/icomoon.svg?tomleg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.w {
    width: 1200px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

/* 快捷导航栏制作 */
.shortcut {
    height: 31px;
    line-height: 31px;
    background-color: #f1f1f1;
}

.shortcut ul li {
    float: left;
}

.shortcut .fr ul li:nth-child(2n) {
    margin: 9px 14px 10px;
    width: 1px;
    height: 12px;
    background-color: #666666;
}

.style_red {
    color: #c81623;
}

.shortcut .fr ul .arrow-icon a::after {
    content: "\e91e";
    font-family: "icomoon";
    margin-left: 5px;
}

/* 头部制作 */
.header {
    position: relative;
    height: 106px;
}

.logo {
    position: absolute;
    top: 27px;
    width: 171px;
    height: 61px;
}

.logo a {
    display: block;
    width: 171px;
    height: 61px;
    background: url(../images/logo.png) no-repeat;
    /* text-indent: -9999px;
    overflow: hidden; */
    font-size: 0px;
}

/* 搜索栏模块 */
.header .search {
    position: absolute;
    top: 27px;
    left: 347px;
    width: 538px;
    height: 36px;
    border: 2px solid #b1191a;
}

.header .search input {
    float: left;
    width: 454px;
    height: 32px;
    padding-left: 10px;
}

.header .search button {
    float: left;
    width: 80px;
    height: 32px;
    color: #fff;
    font-size: 16px;
    background-color: #b1191a;
}

/* 热词模块 */
.header .hotwords {
    position: absolute;
    top: 70px;
    left: 346px;
}

.header .hotwords a {
    margin: 0 10px;
}

/* 购物车模块 */
.shopcar {
    position: absolute;
    top: 24px;
    right: 64px;
    width: 140px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background-color: #f7f7f7;
    border: 1px solid #dfdfdf;
}

.header .shopcar::before {
    content: "\e93a";
    color: #da5555;
    font-family: "icomoon";
    margin-right: 5px;
}

.header .shopcar::after {
    content: "\e920";
    font-family: "icomoon";
    margin-left: 10px;
}

.header .shopcar .count {
    display: block;
    position: absolute;
    top: -5px;
    left: 105px;
    height: 14px;
    color: #ffffff;
    font-size: 14px;
    line-height: 14px;
    border-radius: 7px 7px 7px 0;
    background-color: #e60012;
    padding: 0 3px;
}

/* nav导航栏 */
.nav {
    height: 47px;
    border-bottom: 2px solid #b1191a;
}

.nav .dropdown {
    float: left;
    width: 209px;
    height: 45px;
    background-color: #b1191a;
}

.nav .dropdown .dt {
    width: 100%;
    height: 100%;
    color: #ffffff;
    font-size: 16px;
    line-height: 45px;
    text-align: center;
    margin-top: 2px;
}

.nav .dropdown .dd {
    display: block;
    width: 209px;
    height: 465px;
    background-color: #c81623;
}

.nav .dropdown .dd ul li {
    height: 31px;
    line-height: 31px;
    background-color: #c81623;
    margin-left: 2px;
    padding-left: 12px;
}

.nav .dropdown .dd ul li:hover {
    background-color: #ffffff;
}

.nav .dropdown .dd ul li a {
    font-size: 14px;
    color: #ffffff;
}

.nav .dropdown .dd ul li:hover a {
    color: #c81623;
}

.nav .dropdown .dd ul li::after {
    content: "\e920";
    float: right;
    margin-right: 11px;
    font-family: icomoon;
    color: #ffffff;
}

.nav .navitems {
    float: left;
    margin-left: 10px;
}

.nav .navitems ul li {
    float: left;
}

.nav .navitems ul li a {
    display: block;
    padding: 0 20px;
    height: 45px;
    font-size: 16px;
    line-height: 45px;
    padding: 0 25px;
}


/* 底部模块的制作 */
.footer {
    height: 417px;
    background-color: #f5f5f5;
    padding-top: 30px;
}

/* 服务模块 */
.footer .mod_service {
    height: 80px;
    border-bottom: 1px solid #ededed;
}

.footer .mod_service ul li {
    float: left;
    width: 240px;
    height: 50px;
    padding-left: 35px;
}

.footer .mod_service .service_txt h5 {
    float: left;
    width: 50px;
    height: 50px;
    background: url(../images/icons.png) no-repeat;
    background-position: -252px -3px;
    margin-right: 6px;
}

.footer .mod_service .service_txt h4 {
    font-size: 14px;
    line-height: 25px;
    font-weight: 700;
    color: #333333;
}

.footer .mod_service .service_txt p {
    font-size: 12px;
    color: #666666;
}

/* 帮助模块 */
.footer .mod_help {
    height: 187px;
    border-bottom: 1px solid #ededed;
    padding-top: 21px;
    padding-left: 52px;
}

.footer .mod_help dl {
    float: left;
    width: 200px;
}

.footer .mod_help dl:last-child {
    width: 100px;
    text-align: center;
}

.footer .mod_help dl dt {
    font-size: 16px;
    color: #333333;
    margin-bottom: 12px;
}

.footer .mod_help dl dd a {
    font-size: 12px;
}

.footer .mod_help dl dd img {
    width: 95px;
    height: 95px;
}

/* 版权模块 */
.footer .mod_copyright {
    text-align: center;
}

.footer .mod_copyright .links {
    margin-top: 20px;
    margin-bottom: 10px;
}

.footer .mod_copyright .links a{
    margin: 0 10px;
}

.footer .mod_copyright .copyright {
    line-height: 20px;
}